<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyue.rmsystem.mapper.Damage_road_typeMapper">
    <insert id="addDRT" parameterType="com.wuyue.rmsystem.model.Damage_road_type">
        insert into
       damage_road_type
        values (#{cement_type},#{d_shape},#{caculating_method});
    </insert>
    <delete id="deleteDRT" parameterType="com.wuyue.rmsystem.model.Damage_road_type">
        delete from
        damage_road_type
        where
        cement_type=#{cement_type};
    </delete>
    <update id="updateDRT" parameterType="com.wuyue.rmsystem.model.Damage_road_type">
        update
        damage_road_type
        set d_shape=#{d_shape},caculating_method=#{caculating_method}
        where cement_type=#{cement_type};
    </update>
    <select id="getDRT" resultType="com.wuyue.rmsystem.model.Damage_road_type">
        select * from damage_road_type;
    </select>
</mapper>