<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyue.rmsystem.mapper.Road_damage_tableMapper">
    <insert id="addRDT" parameterType="com.wuyue.rmsystem.model.Road_damage_information">
        insert into
       road_damage_table
        values (#{damage_code},(select worker_code from worker where name = #{woker_code_name}),#{regular_code},#{road_name},#{check_date}
        ,#{begin_end},#{length},#{width},#{damage_type},#{d_lenth},#{d_width},
        #{d_height},#{d_position_description},#{d_areas},#{remark},#{manage_unite},#{make_date});
    </insert>
    <delete id="deleteRDT" parameterType="com.wuyue.rmsystem.model.Road_damage_information">
        delete from
        road_damage_table
        where road_name=#{road_name};
    </delete>
    <update id="updateRDT" parameterType="com.wuyue.rmsystem.model.Road_damage_information">
        update
        road_damage_table
        set worker_code=(select worker_code from worker where name = #{woker_code_name}),road_name=#{road_name},
        check_date=#{check_date},begin_end=#{begin_end},length=#{length},width=#{width},damage_type=#{damage_type},d_lenth=#{d_lenth},
        d_width=#{d_width},d_height=#{d_height},d_position_description=#{d_position_description},d_areas=#{d_areas},
        remark=#{remark},manage_unite=#{manage_unite},make_date=#{make_date}
        where damage_code=#{damage_code};
    </update>
    <select id="getRDT" resultType="com.wuyue.rmsystem.model.Road_damage_information">
        select * from road_damage_table;
    </select>
    <select id="getRPbyRoad" resultType="com.wuyue.rmsystem.model.Road_damage_information">
        select * from road_damage_table where road_name=#{road_name}
        and <![CDATA[ check_date>=#{history}
        and  check_date<=#{today} ]]>;
    </select>
</mapper>